/* 
==================================================
==================================================
==================================================
       Starting style boilerplate HTML5
==================================================
==================================================
==================================================
*/
fieldset,
hr {
  border: 0;
  padding: 0;
}

audio,
canvas,
h2:after,
h2:before,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border-top: 1px solid #ccc;
  margin: 1em 0;
}

fieldset {
  margin: 0;
}

textarea {
  resize: vertical;
}

.browserupgrade {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.hidden {
  display: none !important;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

.invisible {
  visibility: hidden;
}

.clearfix:after,
.clearfix:before {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

@media print {
  blockquote,
  img,
  pre,
  tr {
    page-break-inside: avoid;
  }
  *,
  :after,
  :before {
    background: 0 0 !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  blockquote,
  pre {
    border: 1px solid #999;
  }
  thead {
    display: table-header-group;
  }
  h2,
  h3,
  p {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* 
==================================================
==================================================
==================================================
       End style boilerplate HTML5
==================================================
==================================================
==================================================
*/
.button, .cv {
  color: #fff !important;
  background: #E64B3B;
  padding: 5px;
  border-radius: 5px;
  font-size: .7rem;
  margin: auto auto 75px auto;
  max-width: 200px;
}

.button:hover, .cv:hover {
  color: #fff;
  text-decoration: none;
}

/* 
==================================================
==================================================
==================================================
    Manage basics style for all devices
==================================================
==================================================
==================================================
*/
body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: Roboto, sans-serif;
  color: #34495E !important;
}

body ul,
html ul {
  margin: 0;
  padding: 0;
}

body ul li,
html ul li {
  list-style: none;
  margin: 0 10px 0 10px;
  font-size: 1.2rem;
}

body ul li a,
html ul li a {
  text-decoration: none !important;
}

body ul li a:hover,
html ul li a:hover {
  text-decoration: none !important;
  color: #E64B3B !important;
}

body .active,
html .active {
  color: #E64B3B !important;
}

body strong,
html strong {
  color: #E64B3B;
  text-decoration: underline;
  font-weight: bold;
}

.navbar {
  background: #1A2530;
}

.navbar a {
  color: #fff;
}

h1 {
  color: #E64B3B !important;
}

/* 
==================================================
==================================================
==================================================
        Manage h2 with bar on left and right
==================================================
==================================================
==================================================
*/
h2 {
  overflow: hidden;
  text-align: center;
  color: #E64B3B !important;
  margin: 0 0 40px 0 !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  margin: 80px 0 80px 0 !important;
  padding: 80px 0 0 0;
}

.nav-link {
  text-align: right;
}

.fa-bars,
.fa-times {
  color: #fff;
  font-size: 2rem;
}

.flags img {
  width: 32px;
}

.heading {
  width: 100%;
  position: absolute;
  top: 50%;
  text-align: center;
}

.heading p {
  color: #1A2530;
  font-weight: bold;
  font-size: 1.5rem;
}

.bg {
  background: url(../img/wallpaper-640.jpg) no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
}

.return-top {
  margin: 0 30px 0 0 !important;
  z-index: 10;
  position: fixed;
  bottom: 0;
  right: -20px;
}

.return-top a {
  font-size: 3rem;
  color: #E64B3B;
}

/* 
==================================================
==================================================
==================================================
        Manage portfolio for mobile first
==================================================
==================================================
==================================================
*/
.container-portfolio p {
  margin: 20px;
  text-align: center;
}

.container-portfolio span {
  font-size: 0.8rem;
  text-align: center;
}

.container-portfolio .portfolio-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-portfolio .portfolio-link a {
  margin: 5px;
  padding: 3px;
  width: 80px;
  text-align: center;
  border: 1px solid #E64B3B;
  border-radius: 5px;
  cursor: pointer;
  color: #E64B3B;
}

.container-portfolio .portfolio-link a:hover {
  text-decoration: none;
}

.container-portfolio .portfolio-techno {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-portfolio .portfolio-techno span {
  margin: 5px;
  padding: 3px;
  width: 114px;
  text-align: center;
  background: #E64B3B;
  border-radius: 5px;
  color: #fff;
}

.aboutMe {
  background: #1A2530;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -1px auto -1px auto;
  text-align: center;
}

.aboutMe h2 {
  margin: auto;
  width: 100%;
  padding: 30px;
}

.aboutMe p {
  text-align: center;
  margin: 10px;
  max-width: 100%;
  font-size: 1.3rem;
  font-weight: lighter;
  color: #fff;
  margin: auto 10px auto 10px;
}

.aboutMe .textLike {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem !important;
  font-weight: bold;
  text-align: center;
  max-width: 100%;
  text-align: center;
  margin: auto;
}

.aboutMe .textLike p {
  color: #E64B3B;
  margin: auto;
  width: 100%;
}

.bgAboutMe {
  background: #1A2530;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 0);
          clip-path: polygon(100% 0, 100% 100%, 0 0);
  height: 200px;
}

.bgFooter {
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%);
          clip-path: polygon(0 0, 0 100%, 100% 100%);
  height: 200px;
  background: #1A2530;
}

/* 
==================================================
==================================================
==================================================
        Manage contact for mobile first
==================================================
==================================================
==================================================
*/
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  text-align: center;
  width: 200px;
  max-width: 350px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.contact input,
.contact textarea {
  border: none;
  background: #1A2530;
  padding: 7px;
  color: #fff;
  border-radius: 5px;
  width: 300px;
  margin: 0 0 10px 0;
  outline-style: none;
  height: 50px;
}

.contact input:focus,
.contact textarea:focus {
  border: 2px solid #E64B3B;
}

.contact textarea {
  height: 80px;
}

.contact .sendMessage {
  cursor: pointer;
}

.contact .contact-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cv {
  margin: 40px auto auto auto;
  font-size: 1.1rem;
}

.cv i {
  font-size: 1.8rem;
  padding: 3px;
}

.cv a {
  color: #fff;
  padding: 10px;
}

.cv a:hover {
  color: #fff;
  text-decoration: none;
}

/* 
==================================================
==================================================
==================================================
        Manage footer for mobile first
==================================================
==================================================
==================================================
*/
footer {
  background: #1A2530;
  margin: -1px 0 0 0;
}

footer ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer ul li a {
  color: #fff;
  padding: 5px;
  margin: 10px;
}

footer ul li i {
  font-size: 2.5rem;
}

@media (min-width: 768px) {
  .active {
    border-bottom: 1px solid #E64B3B;
  }
  .bg {
    background: url(../img/wallpaper-1280.jpg) no-repeat fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
  h2 {
    text-align: center;
  }
  h2::after, h2::before {
    width: 80%;
  }
  .portfolio {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
  .portfolio img,
  .portfolio p {
    margin: 0 0 0 20px;
  }
  .portfolio .portfolio-link,
  .portfolio .portfolio-techno {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .portfolio p {
    min-width: 300px;
    max-width: 500px;
  }
  .contact {
    width: 800px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .contact-bottom {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact .contact-bottom input,
  .contact .contact-bottom textarea {
    width: 300px;
    max-width: 400px;
    margin: 0 0 10px 0;
    padding: 10px 5px 10px 5px;
  }
  .aboutMe {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  .aboutMe p {
    max-width: 500px;
  }
  .aboutMe .textLike {
    max-width: 150px;
    height: 100px;
    margin: auto;
  }
}

@media (min-width: 992px) {
  /* 
        ==================================================
        Manage media for large devices (tablet and computeur)
        ==================================================
    */
  .bg {
    background: url(../img/wallpaper-1920.jpg) no-repeat fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
}

@media (min-width: 1700px) {
  /* 
        ==================================================
        Manage media for extra-large devices (tablet and computeur)
        ==================================================
    */
  .bg {
    background: url(../img/wallpaper-4032.jpg) no-repeat fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
  .portfolio-link,
  .portfolio-techno {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* 
==================================================
==================================================
==================================================
                End style for me
==================================================
==================================================
==================================================
*/
/*# sourceMappingURL=style.css.map */